body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f4f4f4;
    margin:0;
    color: #161616;
    line-height: 1.6;
}

header { 
    background-color: #20a296;
    color: #404040;
    text-align: center;
    box-shadow: 0px 2px 6px  rgba(red, green, blue, alpha);
    padding-bottom: 20px;
}

header h1{
    margin: 0 0 10px 0;
    font-size: 2em;
}

nav ul{
    list-style: none;
    padding: 0;
    margin: 0 0 5px 0;
    display: flex;
    gap: 15px;
    justify-content: center;
}

nav ul li{
    display: inline;
}

nav ul a{
    color: aliceblue;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    transition: text-decoration 0.2s, color 0.2s;
}
nav ul a:hover{
    color: #404040;
}

main{
    max-width: 700px;
    margin: 40px auto 0 auto;
    padding: 0 15px;
}

section {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

section h2{
    margin-top: 0;
    color: #404040;
    font-size: 1.5em;
    margin-bottom: 20px;

}

.ObraSocial ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.ObraSocial li {
    background: #3b6e69;
    border: 1px solid #404040;
    border-radius: 5px;
    padding: 6px 12px;
    color: #fff;
    font-weight: 500;
}


.catalogo{
    background: #fff;
    margin-bottom: 0px;
    box-shadow: none;
    border-radius: 0px;
}
.Medicos{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    gap: 30px;
    padding: 20px 0;
    display: flex;
    justify-content: center;

}

.contacto{
    grid-template-columns:repeat(4,1fr);
    gap: 30px;
    padding: 20px 0;
    display: flex;
    justify-content:flex-start;
    background: #fff;
    border: 1px solid #404040;
    border-radius: 10px;
    padding:20px 22px;
    box-sizing: border-box;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);

}

.Medicos > div {
    background: #fff;
    border: 1px solid #404040;
    border-radius: 10px;
    padding:20px 22px;
    box-sizing: border-box;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
}
.Medicos > h3{
    margin-top: 0;
    color: #404040;
    font-size: 1.1em;
}

footer{
    background: #404040;
    max-width: 100%;
    min-height: 300px;
    text-align: center;
    color: #f0f0f0;
    margin-top: 40px;
    font-size: 0.95em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.volver a {
    color: #fafafa;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    border: 2px solid #404040;
    padding: 7px;
    border-radius: 10px;
    background-color: #3b6e69;
}

.institucional {
    min-height: 400px;
}

.boton {
    margin-top: 50px;
}